<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FinTracker</a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/transactions" class="nav-link" href="#">Transactions</a>
        </li>
        <li class="nav-item">
          <a routerLink="/budget" class="nav-link" href="#">Budget</a>
        </li>
        <li class="nav-item">
          <a routerLink="/savings" class="nav-link" href="#">Savings</a>
        </li>
        <li class="nav-item">
          <a routerLink="/converter" class="nav-link" href="#">Currency</a>
        </li>
        <li class="nav-item">
          <a routerLink="/roi" class="nav-link" href="#">ROI</a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a routerLink="/backup" class="nav-link" href="#">Backup/Restore</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>